<body>
  <div class="container">
    <div class="header">
      <div class="back" routerLink="/acceuil">←</div>
      <h1>Résultats</h1>
      <div style="width: 26px"></div>
    </div>
    <div class="sub">3 universités correspondent<br />à tes critères.</div>

    <div class="filters">
      <div class="filter">
        <select class="select">
          <option>Informatique</option>
          <option value="Mathématiques">Mathématiques</option>
          <option value="Physique">Physique</option>
          <option value="Chimie">Chimie</option>
          <option value="Biologie">Biologie</option>
          <option value="Histoire">Histoire</option>
          <option value="Philosophie">Philosophie</option>
          <option value="sciences">Sciences</option>
          <option value="lettres">Lettres</option>
          <option value="droit">Droit</option>
          <option value="medecine">Médecine</option>
          <option value="informatique">Informatique</option>
          <option value="arts">Arts</option>
          <option value="litterature">Littérature</option>
          <option value="musique">Musique</option>
          <option value="theatre">Théâtre</option>
          <option value="cinema">Cinéma</option>
          <option value="programmation">Programmation</option>
          <option value="technique">Technique</option>
          <option value="pedagogie">Pédagogie</option>
          <option value="nutrition">Nutrition</option>
        </select>
      </div>
      <div class="filter">
        <select>
          <option>< 400 $</option>
          <option value="400-1000">400 $ - 600 $</option>
          <option value="1000-2000">600 $ - 1000 $</option>
          <option value="2000-3000">1000 $ - 2000 $</option>
          <option value="3000-4000">2000 $ - 3000 $</option>
          <option value="4000-5000">3000 $ - 4500$</option>
          <option value="5000+">5000 $ +</option>
          <option value="all">Tous les frais</option>
        </select>
      </div>
      <div class="modifier">Modifier</div>
    </div>
    <!-- UPN -->
    <div
      class="card"
      *ngFor="let univ of universites"
      (click)="voirDetail(univ.id)"
    >
      <div class="card-top">
        <div class="logo" style="background: #e8f0fe">
          <img [src]="univ.logo" alt="UPN logo" />
        </div>
        <div class="info">
          <h3>{{ univ.nom }}</h3>
          <p>Université Pédagogique<br />Nationale</p>
          <div class="rating">
            <b>3.8</b><span class="stars">★★★½☆</span
            ><span class="muted">(42 avis)</span>
          </div>
        </div>
        <div class="arrow">›</div>
      </div>
      <div class="card-bottom">
        <div class="fees">Frais : 800 $ / an</div>
        <div class="badge">Correspond</div>
      </div>
    </div>

    <div class="help">
      <div>
        <h4>Aucun résultat ?</h4>
        <p>Essaie d'augmenter ton budget<br />ou de changer le filière.</p>
      </div>
      <div class="icon">🎓🔍</div>
    </div>
  </div>
</body>
